@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Our History</h3>
<p>
    FormTech Surveying, Inc. is a Florida Corporation offering comprehensive land surveying and mapping services to both private sector and governmental agencies such as MDWASD, Miami-Dade Parks and Recreation, FPL , FDOT, GSA, Municipalities and other governmental agencies. Our firm uses the latest technological advances in both the field data collection and the processing into Land Development Desktop, ensuring standardization of CAD drawings for multidisciplinary projects, such as civil engineering, architecture, urban and suburban planning. Through this, we increase the speed of the projects, saving time and money. In Addition, for investors and/or developers, we offer Land Development such as Waiver of Plats, Tentative Plats and Final Plats, and we help the client to summit the applications form, through the Cities and Miami-Dade County, complying with the local, state and federal regulations in order to get the approval of the Cities and Miami-Dade County Commission.
</p>

